node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
src/routeTree.gen.ts

# >>> tsr-shared-routes (auto)
src/routes/about/$sharedOneChild/
src/routes/about/shared-one/
src/routes/about/shared-two/
src/routes/home/$sharedOneChild/
src/routes/home/shared-one/$sharedOneChild/**/*.gen.*
src/routes/home/shared-one/**/*.gen.*
src/routes/home/shared-two/**/*.gen.*
src/sharedRoutes.gen.ts
# <<< tsr-shared-routes
